/* src/components/TicTacToe.css */
.board {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
}

.square {
    width: 60px;
    height: 60px;
    margin: 5px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.play-again-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.play-again-button:hover {
    background-color: #45a049;
}
